*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: end;
  margin: 133px 30px;
  width: 1140px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  min-height: 22px;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.search-form__textfield {
  min-width: 225px;
  height: 27px;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  border: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list {
  width: 212px;
  height: 22px;
  display: grid;
  grid-template-columns: 59px 61px 62px;
  justify-content: space-between;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__checkbox:checked + span::after {
  display: flex;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: #fff;
  content: "";
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: transparent;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

button.search-form__submit-button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.content__details {
  height: 100%;
  width: 100%;
  height: 534px;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, sans-serif, monospace;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2px;
}

a.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card {
  width: 394px;
  height: 103px;
  display: grid;
  grid-template-columns: 1fr 194px;
  align-content: start;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card-title {
  margin-top: 1px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  max-width: 200px;
  vertical-align: bottom;
  margin-bottom: 6px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
}

.more-button {
  cursor: pointer;
  width: 100%;
}

.more-button:hover {
  text-decoration: underline;
}
